<데이터분석을 위한 파이썬>

● import에 대하여

● Type(데에터 타입)

● Tuple(튜플)

● List(리스트) & 슬라이싱(잘라내기)

● Numpy Array (배열)

● Shape (차원, 모양새)

● function (함수)

● for in(반복문)

에 대하여 학습해보겠습니다

▼ Import에 대하여

In [97]:
import pandas

In [98]:
import pandas as pd

In [100]:
pd

▼ Type에 대하여

▼문자

In [9]:
word = 'Python is FUN'

In [10]:
word = "Puthon is FUN"

In [11]:
word

'Puthon is FUN'

In [12]:
type(word)

str

In [13]:
number = '1'

In [14]:
number

'1'

▼정수(int)

In [15]:
number = 1

In [16]:
type(number)

int

▼실수(float)

In [17]:
number = 3.14

In [18]:
type(number)

float

▼데이터 타입 변환

In [19]:
number = 1

In [20]:
type(number)

int

In [21]:
type(number / 1.0)

float

In [22]:
number / 1.0

1.0

In [23]:
number = 5

In [24]:
number / 1.0

5.0

In [25]:
number = 3.14

In [26]:
int(number)

3

In [27]:
number = 1

In [28]:
float(number)

1.0

▼실수로 연산시 변환

▼List(리스트) & 슬라이싱(잘라내기)

꺾쇠 [] 안에 복수개의 데이터를 넣어준 집합

▼1차원 리스트 생성

In [29]:
x = [10, 20, 30, 40, 50, 60, 70, 80,]

In [30]:
type(x)

list

▼2차원 리스트 생성

In [31]:
x_2d = [
    [10, 20, 30, 40, 50, 60, 70, 80,],
    [11, 21, 31, 41, 51, 61, 71, 81,],
]

In [32]:
x_2d

[[10, 20, 30, 40, 50, 60, 70, 80], [11, 21, 31, 41, 51, 61, 71, 81]]

▼색인 (index)

리스트는 0번 index부터 시작합니다

In [33]:
x = [10, 20, 30, 40, 50, 60, 70, 80,]

In [34]:
x[0]

10

In [35]:
x[3]

40

In [36]:
#오류발생

x[8]

IndexError: list index out of range

-1은 거꾸로 색인합니다

In [37]:
x = [10, 20, 30, 40, 50, 60, 70, 80,]

In [38]:
x[-1]

80

In [39]:
x[-8]

10

In [40]:
#오류발생
x[-9]

IndexError: list index out of range

▼슬라이싱

: 기준으로 왼쪽은 포함/ : 기준으로 오른쪽은 미만

In [41]:
x = [10, 20, 30, 40, 50, 60, 70, 80,]

In [42]:
x[0:4]

[10, 20, 30, 40]

In [43]:
x[:4]

[10, 20, 30, 40]

In [44]:
x[3:]

[40, 50, 60, 70, 80]

In [45]:
x[:-3]

[10, 20, 30, 40, 50]

In [46]:
x[-5:-3]

[40, 50]

▼Numpy Array(배열)

In [47]:
x = [10, 20, 30, 40, 50, 60, 70, 80,]

In [48]:
type(x)

list

In [49]:
import numpy as np

In [50]:
np.array(x)

array([10, 20, 30, 40, 50, 60, 70, 80])

In [51]:
type(np.array(x))

numpy.ndarray

In [52]:
x_arr = np.array(x)

In [53]:
x_arr

array([10, 20, 30, 40, 50, 60, 70, 80])

▼ 모양새 확인 (shape)

In [54]:
x_arr.shape

(8,)

row, column(행, 열)

In [55]:
x_2d

[[10, 20, 30, 40, 50, 60, 70, 80], [11, 21, 31, 41, 51, 61, 71, 81]]

In [56]:
x_2d_arr = np.array(x_2d)

In [57]:
x_2d_arr.shape

(2, 8)

In [58]:
mx_3d = [
    [
        [10, 20, 30, 40,],
        [50, 60, 70, 80,],
    ],
    [
        [11, 21, 31, 41],
        [51, 61, 71, 81]
    ],
]

In [59]:
x_3d_arr = np.array(mx_3d)

In [60]:
x_3d_arr.shape

(2, 2, 4)

▼ Tuple(튜플)

In [61]:
#값이 변경이 가능한 리스트 설명
x = [10, 20, 30]

In [62]:
x

[10, 20, 30]

In [63]:
x[0]

10

In [65]:
x[0] = 99

In [66]:
x

[99, 20, 30]

In [67]:
#튜플은 리스트와 굉장히 유사하지만 위의 예처럼 값 변경 x

In [68]:
x = (10, 20, 30)

In [69]:
type(x)

tuple

In [70]:
x[0]

10

In [71]:
x[2]

30

In [72]:
#튜플은 값변경 x
x[2] = 99

TypeError: 'tuple' object does not support item assignment

▼ 함수

함수파트에서는 들여쓰기 주의 !

def 함수명(파라미터1, 파라미터2, ...):

In [73]:
#리턴있는 것

def func(a, b):
    return a+b

In [74]:
func(1,3)

4

In [75]:
#리턴없는 것
def print_me(a, b):
    print(a)
    print(b)

In [76]:
a = print_me('hello', 'world')

hello
world

In [78]:
#변수 할당하면 null이 나온다 -> 리턴값이 없기 때문에
a

In [79]:
#리턴값이 있는 func함수는 값을 재할당 할 수 있다
a = func(1,3)

In [81]:
a

4

▼ for in 구문 (반복문)

In [82]:
range(10)

range(0, 10)

In [83]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [84]:
x = [10, 20, 30, 40]

In [85]:
for i in x:
    print(i)

10
20
30
40

In [86]:
for i in 'Python is fun':
    print(i)

P
y
t
h
o
n

i
s

f
u
n

▼ 조건문

In [87]:
if a == 1:
    print("1입니다")
else:
    print("1이 아닙니다")

1이 아닙니다

In [88]:
#위의 조건문을 응용해서 함수에 넣어보았다
def check_one(a):
    if a == 1:
        print("1입니다")
    else:
        print("1이 아닙니다")

In [89]:
check_one(1)

1입니다

In [90]:
check_one(2)

1이 아닙니다

In [91]:
#위에 조건을 하나 추가로 넣어보았다
def check_one(a):
    if a == 1:
        print("1입니다")
    elif a >= 2:
        print("2이상입니다")
    else:
        print("1이 아닙니다")

In [92]:
check_one(2)

2이상입니다

In [93]:
#조건문을 반복문과 같이 써보는 실습 수행
for i in  [10, 20, 30, 40, 50]:
    if i >= 30:
        print("30 이상 입니다")

30 이상 입니다
30 이상 입니다
30 이상 입니다

In [94]:
for i in  [10, 20, 30, 40, 50]:
    if i >= 30:
        print(i)

30
40
50

In [95]:
for i in  [10, 20, 30, 40, 50]:
    if i >= 30:
        print(i)
        break

30